<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de Contraseña Exitoso</title>
    <!-- Agrega los enlaces a los archivos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Cambio de Contraseña Exitoso</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            ¡Tu contraseña ha sido cambiada exitosamente!
                        </div>
                        {{!-- <a href="/" class="btn btn-primary">Volver al Inicio</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Agrega los enlaces a los archivos de JavaScript de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script
